<!doctype html>
<html>
<head>
    <title>Serenity</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- <div class="container">

    <div class="jumbotron text-center">
        <h1>21 Savage Fan Site</h1>
        <img src="img/savage21.jpg" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div> -->

<section class="header">
<nav>
    <!-- <a href="index.ejx"><img src="./img/logo-color.jpg"></a> -->
    <div class="navlinks">
    </div>
</nav>

<div class="headerBox">
    <h1>Serenity</h1>
    <p>Serenity is an app to help you through your mental health journey.<br> This app includes activites, encouragment and other techniques to help you daily. </p>
    <a href="/login"  class="loginbtn"><span></span>Login</a> 
    <a href="/signup"  class="loginbtn"></span>Signup</a>
</div>

</section>
</body>
</html>
